.contenedor-actividades {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #FF2EA2;
	padding-bottom: 50px;
}

div.video {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
    background: black;
}

iframe {
	border: 1px solid #FF2EA2;
}

div.descripcion {
	width: 600px;
	margin-top: 50px;
}

div.descripcion p {
	margin: 5px 0;
}