section.identificar {
	margin-top: 50px;
	padding: 0;
	background-color: #FF2EA2;
}

div.box-identificacion {
	width: 345px;
	height: 150px;
	border: 1px solid #fff;
	background-color: #FF2EA2;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.box-identificacion p {
	padding: 10px 0;
}

form.formulario-reserva {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div.box-identificacion input {
	margin-bottom: 10px;
}

#reservasDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#reservasDiv .reservabtn{
	padding: 5px;
	vertical-align: middle;
}

#reservasDiv .reservabtn.plazaslibres {
	background: #0F0;
}

#reservasDiv .reservabtn.sinplazas {
	background: #F00;
}

#reservasDiv .reservabtn.plazaReservada {
	background: #00F;
	color: #FFF;
}
#reservasDiv .logoutDiv{
	width: 100%;
	margin-bottom: 10px;
}
#reservasDiv .logoutBtn{
	background-color: #FF2EA2;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
    float: right;
    margin-right: 153px;
}